{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Índice</title>
</head>
<body>

<div class="container">

    <br/>

    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-left">
                <h2>Catalogo  de Biodiversidad</h2>
            </ul>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="{% url 'catalogo:index' %}">Home</a></li>
                {% if user.is_authenticated %}

                <li role="presentation"><a class="glyphicon glyphicon-user" href="{% url 'catalogo:userUpdate' %}" >{{user.username }}</a></li>
                <li role="presentation"><a class="glyphicon glyphicon-log-out"
                                           href="{% url 'catalogo:logout' %}">Logout</a></li>
                {% else %}
                <li role="presentation"><a href="{% url 'catalogo:signup' %}">Registro</a></li>
                <li role="presentation"><a href="{% url 'catalogo:login' %}">Iniciar Sesion</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <h3 class="text-center">Listado de Especies</h3>

    <!--<div>
        <a href="{% url 'images:addspecies'%}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Agregar Especie
        </a>
    </div>-->
    <div class="row">
    {% for species in species_list %}
    <div class="col-md-4 col-sm-6 co-lg 3 well" style=" margin-top: 20px;">
            {% if imagen.imageFile == None %}
            <a href="species_view?id={{species.id}}">Ver Detalle Especie: {{species.name}}</a>
            <img src="/{{species.picture}}"  class="img-responsive" style="margin-top: 5px;" width="250" height="250">
            {% else %}
            <a href="species_view?id={{species.id}}">Ver Detalle Especie: {{species.name}}</a>
            <img src="{{species.picture}}" class="img-responsive" style="margin-top: 5px;">
            {% endif %}

    </div>
    {% endfor %}
    </div>

</div> <!-- /container -->

</body>

</html>

