{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Listado</title>
</head>
<body>
<div class="container">
    <h2 class="text-center">Listado de Especies</h2>
    <div>
        <a href="{% url 'images:addspecies'%}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Agregar Especie
        </a>
    </div>
    <ul class="list-group">
        {% for species in species_list %}
        <li class="list-group-item">
            <div class="" style="margin-top: 5px;">
                <a href="species_view?id={{species.id}}">Ver Detalle Especie: {{species.name}}</a>
                <img src="/{{species.picture}}" class="img-responsive" style="margin-top: 5px;">
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

</body>
</html>
