{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Especie</title>
  </head>
  <body>
    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    {% block content %}
      <form action="{% url 'images:addspecies' %}"
      enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- {{form.as_p}} -->
        {% buttons %}
        <input type="submit" value="Add" class="btn btn-primary btn-block"/>
        {% endbuttons %}
      </form>
    {% endblock %}
    </div>
  </body>
</html>
